body{
    background-color: rgb(217, 240, 155);
    font-style: italic;
    font-size: 30px;
    margin-top: 80px;
}
html{
    scroll-behavior: smooth;
}
pre{
    white-space: pre-wrap;
}
button{
    margin: auto;
    display: flex;
    background-color: rgb(0, 84, 161);
    font-size: 30px;
    border-radius: 25px;
    box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
    padding: 10px;
    color: aliceblue;
}
button:hover{
    background-color: rgb(60, 144, 240);
    font-size: 35px;
}
a{
    text-decoration: none;
    text-align: center;
    color: rgb(5, 1, 1);
    margin: 25px;
    font-size: 40px;
    border-radius: 15px;
    background-color: rgb(105, 221, 221);
    box-shadow: 10px 30px 30px 3px rgb(24, 23, 23, 0.4);
}
nav {
    background-color: rgb(221, 172, 11);
    text-align: center;
    border-radius: 15px;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    box-shadow: 10px 30px 30px 3px rgb(24, 23, 23, 0.4);
}
h1{
    text-align: center;
    color: rgb(1, 1, 2);
}
div{
    background-color: rgb(86, 173, 173);
    border-radius: 15px;
    font-size: 30px;
    margin: auto;
    box-sizing: border-box;
    box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
    gap: inherit;
}
#home,#profile,#skills,#projects,#contact{
    background-color:rgb(110, 190, 226);
    border-radius: 15px;
    font-size: 30px;
    box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
    margin: auto;
    width: 75%;
}
img{
    width: auto;
    height:auto;
    border-radius: 15px;
    box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
    margin: auto;
    display: flex;
}
table{
    border: 3px solid black;
    border-radius: 15px;
    width: auto;
    margin: auto;
}
html, body{
    overflow-x: hidden;
}
td,th{
    border: 3px solid black;
    border-radius: 10px;
    padding:10px;
    font-size: 20px;
}
@media (max-width: 500px) {
    body{
        font-size:22px;
        padding-top:80px;
        background-color: rgb(217, 240, 155);
    }
    a{
        font-size: 30px;
        margin: 10px;
        box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
    }
    nav{
        font-size:20px;
        box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
    }
    img{
        width:100%;
        height:auto;
    }
    #home,#profile,#skills,#projects,#contact{
        font-size:22px;
        background-color:rgb(110, 190, 226);
        border-radius:15px;
        box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
        width: 95%;
    }
    table{
        width:90%;
        margin:auto;
        white-space: pre-wrap;
    }
    td,th{
    word-wrap: break-word;
    overflow-wrap: break-word;
    }
    pre{
        width: 100%;
    }
}
