body{
    background-color: rgb(152, 236, 236);
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',sans-serif;
    font-size: 30px;
    margin-top: 80px;
}
html{
    scroll-behavior: smooth;
}
pre{
    white-space: pre-wrap;
}
a{
    text-decoration: none;
    text-align: center;
    color: rgb(5, 1, 1);
    margin: 25px;
    font-size: 40px;
    border-radius: 15px;
    background-color: rgb(86, 173, 173);
    box-shadow: 10px 30px 30px 3px rgb(24, 23, 23, 0.4);
}
nav {
    background-color: rgb(238, 218, 152);
    text-align: center;
    border-radius: 15px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 10px 30px 30px 3px rgb(24, 23, 23, 0.4);
}
h1{
    text-align: center;
    color: rgb(1, 1, 2);
}
div{
    background-color: rgb(86, 173, 173);
    border-radius: 15px;
    font-size: 30px;
    margin: auto;
    width: 100%;
    box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
}
#home,#profile,#skills,#projects,#contact{
    background-color: rgb(103, 173, 173,0.5);
    border-radius: 15px;
    font-size: 30px;
    box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
}
table{
    border: 3px solid black;
    border-radius: 15px;
    width: 100%;
    margin: auto;
}
html, body{
    overflow-x: hidden;
}
td,th{
    border: 3px solid black;
    border-radius: 10px;
    padding:5px;
    font-size: 20px;
}
@media (max-width: 500px) {
    body{
    font-size:22px;
    padding-top:80px;
    background-color: rgb(185, 226, 207);
    }
    a{
        font-size: 30px;
        margin: 10px;
        box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
    }
    nav{
        font-size:20px;
        width: 100%;
        box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
    }
    img{
        width:100%;
        height:auto;
    }
    #home,#profile,#skills,#projects,#contact{
        font-size:22px;
        background-color:rgba(22, 218, 218, 0.6);
        border-radius:15px;
        box-shadow: 10px 30px 30px 3px rgba(24, 23, 23, 0.4);
    }
    table{
        width:100%;
        margin:auto;
    }
    td,th{
        font-size:18px;
    }
    pre{
        width: 100%;
    }
}